<div class="sub_content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>オフィスパとは？</h2>
        <h3>〜オフィスで受けれるマッサージサービス〜</h3>
        <h4>デスクワークでの首肩コリ、眼精疲労を撃退</h4>
        <p>必要な物はいっさいなし<br>あなたは椅子に座って待っているだけ。</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'spa.jpg' %>
      </div>
    </div>
  </div>
</div>