<div class="main">
  <header>
    <%= link_to image_tag('logo.png'), "#" %>
    <ul>
      <li><%= link_to "ログイン", "#" %></li>
      <li><%= link_to "新規登録", "#" %></li>
    </ul>
  </header>
  <div class="cf"></div>
  <div class="description">
    <h1>仕事の合間にヘッドスパ</h1>
    <p>
    スタートアップベンチャー企業向け<br>福利厚生サービス、オフィスでスパ！
    </p>
  </div>
  <div class="cf">
  <div class="gest">
    <%= link_to "ゲストログイン", "#", class: "btn btn-primary gest_login" %>
  </div>
</div>