<%= provide(:title, "スタッフ") %>
<div class="staff_page">
  <div class="contents">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag 'staff.jpg' %>
        </div>
        <div class="col-md-6">
          <div class="staff_description">
            <h3>阿部航平</h3>
            <span>Kohei abe</span>
          </div>
          <div class="sub_description">
            <span>〜経歴〜</span>
            <p class="lead">芸能人やモデルも多数通う有名隠れ家サロンでヘッドスパ、ボディ、
              フェイシャルをメインに３年間勤務。企業向けに出張ヘッドスパ経験も多数。
            </p>
            <span>〜企業向け実績〜</span>
            <p class="lead">ヤフー株式会社、アクサ・ホールディングス・ジャパン株式会社、
              WeWork Companies、レクサス青山
            </p>
            <span>〜スキル〜</span>
            <p class="lead">HTML, CSS, Ruby,Ruby on Rails, JavaScript, SQL, Rspec,
              Docker, Git, github, circleCi, AWS, heroku
            </p>
          </div>
          <div class="cf"></div>
        </div>
      </div>
    </div>
  </div>
</div>