<%= provide(:title, "メニュー一覧") %>
<div class="menu_index">
  <div class="container">
    <h1>メニュー一覧</h1>
    <% if current_user.admin? %>
      <%= link_to "メニューを追加する", new_menu_path %>
    <% end %>
    <%= render @menus %>
  </div>
</div>
