<% if current_user %>
  <div class="visit_history">
    <table>
      <thead>
        <tr>
          <th>予約名</th>
          <th>予約時間</th>
          <th>メニュー</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.name %></td>
            <td><%= reservation.start_time %></td>
            <th><%= reservation.menu.name unless reservation.menu.nil? %></th>
            <!-- メニューテーブルと予約テーブルを後から関連付けしたため過去の予約のメニューがnil classになるのを防ぐため条件分岐 -->
            <td><%= link_to 'キャンセル', reservation, method: :delete, data: { confirm: '本当にキャンセルしますか？' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
