<%= provide(:title, "ユーザー一覧") %>
<div class="container">
  <%= will_paginate %>

  <div class="user_index">
    <ul class="users">
      <%= render @users %>
    </ul>
  </div>
  <div class="cd"></div>

  <%= will_paginate %>
</div>
