<li>
  <div class="requests">
    <div class="request_image">
      <%= image_tag "user.jpg" %>
      <span><%= request.user.name %></span>
    </div>
    <div class="request_content">
      <%= request.content %>
    </div>
  </div>
</li>