<%= provide(:title, "投稿") %>
<div class="container">
  <div class="row-sm-12">
    <div class="col-sm-12">
      <div class="new_request">
        <div class="request_top">
          <h1>要望</h1>
          <P>新しいメニューの要望があったら投稿しよう</P>
        </div>
        <%= form_with(model: @request, local: true) do |f| %>
          <div class="field">
            <%= f.text_area :content, class: "request_firld", placeholder: "例、、ハンドマッサージのメニューを追加してほしい！" %>
          </div>
          <%= f.submit "投稿する", class: "btn btn-primary request_btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
    