<div class="container">
  <div class="reservation_new">
    <h1 class="reservation_form">予約フォーム</h1>
    <div class="caution">
      <h2>注意事項</h2>
      <p class="lead">・予約時間は原則業務時間外の13:15もしくは19:15としております</p>
      <p class="lead">・ご予約は1日2名までとなっております</p>
      <p class="lead">・土日祝日のご予約は受け付けておりません</p>
      <p class="lead">・メニューは当日ご相談ください</p>
    </div>
    <%= link_to "メニューを確認する", menus_path, class: "menu_verification" %>
    <%= render 'form', reservation: @reservation, menus: @menus %>
  </div>
  <%= render "calendar_form", reservations: @reservations %>
</div>
