<header class="navbar navbar-fixed-top">
  <div class=container>
    <p class="discription">スタートアップベンチャー企業向け福利構成サービス</p>
    <%= image_tag "logo.jpg" %>
    <nav>
      <div class="nav navbar-nav navbar-right">
        <P>予約可能時間<br>13:00~13:15<br>19:00~19:15</P>
      </div>
    </nav>
    <div class="cf"></div>
  </div>
</header>
